@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    padding: 6% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    height: 450px;
    background: #050708;
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 25px 0 rgba(24, 23, 23, 0.89),
        0 8px 8px 0 rgba(0, 0, 0, 0.548);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #fcfcfc;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.3 ease;
}

h3 {
    font-weight: bold;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
p {
    color: rgb(241, 241, 241);
    font-size: 15px;
}
